
<mat-form-field appearance="standard" >
    <mat-label style="color: #ffff;">Filter</mat-label>
    <input  matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  
  <div class="mat-elevation-z8 " tabindex="0" >
    <div class="example-container" >
        <table mat-table 
         [dataSource]="_contr.dataSource" matSort>
       
          <ng-container matColumnDef="PID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>PID</th>
            <td mat-cell *matCellDef="let processys"> {{processys?.PID}} </td>
          </ng-container>
     
          <ng-container matColumnDef="nombreDeImagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header > NAME</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.nombreDeImagen}} </td>
          </ng-container>
     
          <ng-container matColumnDef="nombreDeUsuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> USER</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.nombreDeUsuario}} </td>
          </ng-container>
     
          <ng-container matColumnDef="nombreDeSesion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME S</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.nombreDeSesion}} </td>
          </ng-container>
       
          <ng-container matColumnDef="tituloDeVentana">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE W</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.tituloDeVentana}} </td>
          </ng-container>
          
          <ng-container matColumnDef="usoDeMemoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MEMORY</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.usoDeMemoria}} </td>
          </ng-container>
          
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>STATE</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.estado}} </td>
          </ng-container>
          
          <ng-container matColumnDef="numDeSesion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header># SESSION</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.numDeSesion}} </td>
          </ng-container>

          <ng-container matColumnDef="quantum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>QUANTUM</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.quantum}} </td>
          </ng-container>
          
          <ng-container matColumnDef="tiempoDeCpu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CPU</th>
            <td mat-cell *matCellDef="let  processys"> {{ processys?.tiempoDeCpu}} </td>
          </ng-container>

          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef>OPTIONS</th>
            <td mat-cell *matCellDef="let  processys; let i = index;">{{i+1}}
              <mat-checkbox
                            (click)="$event.stopPropagation();seleccc(processys)"
                            (change)="$event ? _contr.selection.toggle(processys) : null"
                            [checked]="_contr.selection.isSelected(processys)" >
              </mat-checkbox>
            </td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let processys; columns: displayedColumns; let i = index"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
    </div>
    <mat-paginator   
        [pageSizeOptions]="_contr.options" showFirstLastButtons
    ></mat-paginator>
    
  </div>