<nav class="navbar navbar-dark navbar-expands d-flex bg-dark px-4">
    <h1 class="text-adms navbar-brands col-12 h4 my-0">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M22,21H2V3H4V15.54L9.5,6L16,9.78L20.24,2.45L21.97,3.45L22,21Z" />
        </svg>
        Process manager
    </h1>
   <div class="navbar-expand mt-0">
    <div class="container-fluid mt-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"  >
          
          <a class="nav-link"  routerLinkActive="active" aria-current="page" [routerLink]="['home']" >
          <svg style="width:20px;height:20px; vertical-align: middle;" viewBox="0 0 24 24">
              <path fill="currentColor" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
          </svg>  
            Home
          </a>
        </li>
        <li class="nav-item"   >
          <a class="nav-link"  routerLinkActive="active" [routerLink]="['catalogs']" >
            <svg style="width:20px;height:20px; vertical-align: middle;" viewBox="0 0 24 24">
              <path fill="currentColor" d="M19 3H14.82C14.4 1.84 13.3 1 12 1S9.6 1.84 9.18 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3M12 3C12.55 3 13 3.45 13 4S12.55 5 12 5 11 4.55 11 4 11.45 3 12 3M7 7H17V5H19V19H5V5H7V7M12 17V15H17V17H12M12 11V9H17V11H12M8 12V9H7V8H9V12H8M9.25 14C9.66 14 10 14.34 10 14.75C10 14.95 9.92 15.14 9.79 15.27L8.12 17H10V18H7V17.08L9 15H7V14H9.25" />
            </svg>  
            Catalogs
          </a>
        </li>
      </ul>
    </div>
   </div>

    <!-- <div class="container-fluid justify-content-start text-white">
      <button  class="btn btn-sm btn-morado btn-efecto me-2" type="button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Simulador
      </button>
      <button class="btn btn-sm btn-morado btn-efecto" type="button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Procesos
    </button>
    </div> -->
  </nav>