<nav class="navbar navbar-dark bg-dark px-4">
    <h1 class="text-adms h4">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M22,21H2V3H4V15.54L9.5,6L16,9.78L20.24,2.45L21.97,3.45L22,21Z" />
        </svg>
        Administrador de tareas</h1>
    <form class="container-fluid justify-content-start text-white">
      <button  class="btn btn-sm btn-morado btn-efecto me-2" type="button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Simulador
      </button>
      <button class="btn btn-sm btn-morado btn-efecto" type="button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Procesos
    </button>
    </form>
  </nav>