<div class="header">
  <div class="container-fluid">
     <div class="d-flex flex-row-reverse">
       <button  type="button"  class="m-2 d-flex flex-wrap order-1" mat-raised-button color="warn" (click)="reloadProcessys()" >Reload processes</button>
       <button  type="button"  class="m-2 d-flex flex-wrap order-2" mat-raised-button color="accent"  data-bs-toggle="modal" data-bs-target="#modalCreate" >Create a catalog</button>
     </div>
      <app-loading *ngIf="_controService.loading===false"></app-loading>
      <app-table   *ngIf="_controService.loading"></app-table>
  </div>

    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
</div>



<!-- Modal -->
<app-formulariocatalog namefor="Create"></app-formulariocatalog>
<!-- <div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="modalCreateLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header px-3 pt-2  pb-0 m-0">
        <h1 class="modal-title fs-5" id="modalCreateLabel">Create catalog</h1>
        <button type="button"  
                style="border: none;box-shadow: none;" 
                class="btn-close " data-bs-dismiss="modal" 
                aria-label="Close"
                (click)="loadForm()"
                ></button>
      </div>
      <form class="modal-body mt-0 col-12 d-flex  flex-wrap"
            [formGroup]="forma" 
            (ngSubmit)="createCata()" 
                                >
        <mat-form-field class="example-full-width col-12" appearance="fill">
          <mat-label>Catalog name</mat-label>
          <input matInput 
                  #message maxlength="256" 
                  placeholder="Ex. Catalog"
                  formControlName="name"
                  type="text"
                  >
          <mat-hint align="start"><strong>Enter a description</strong> </mat-hint>
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
          <mat-error *ngIf="nameNovalid">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button type="button"
                mat-raised-button 
                class="btn  mx-1 btn-secondary"
                data-bs-dismiss="modal"
                (click)="loadForm()"
                >Close</button>
        <button type="submit" 
                mat-raised-button 
                class="btn  mx-1 btn-primary"
                data-bs-dismiss="modal"
                [class.disabled]="message.value.length<4" 
                >Save changes</button>
      </form> 
    </div>
  </div>
</div> -->