<div class="header">
  <div class="container-fluid">
     <div class="d-flex flex-row-reverse">
       <button  type="button"  class="m-2 d-flex flex-wrap order-1" mat-raised-button color="warn" (click)="reloadProcessys()" >Reload processes</button>
       <button  type="button"  class="m-2 d-flex flex-wrap order-2" mat-raised-button color="accent"  data-bs-toggle="modal" data-bs-target="#modalCreate" >Create a catalog</button>
     </div>
 
       <div class="d-flex justify-content-end "> 
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select a filter</mat-label>
            <mat-select style="position: relative;" (selectionChange)="ordenar($event.value)" >
              <mat-option  z-index="1056"  *ngFor="let filtro of filtrar" [value]="filtro?.cod">
                {{filtro?.name}}
              </mat-option>                 
            </mat-select>  
          </mat-form-field>
      </div>  
 
      <app-loading *ngIf="_controService.loading===false"></app-loading>
      <app-table   *ngIf="_controService.loading"></app-table>
      <div *ngIf="_controService.seleccionProcess.length>0" class="opciones  shadow slide-in-blurred-left p-2  " >
        <h3 class="m-0" style="font-weight:bold ; color: rgb(33, 103, 29);">Selected processes</h3>
        <div class="contai overflow-auto">
          <div class="col" >
            <p class="text-start tracking-in-expand" *ngFor="let Selectedprocesses of _controService.seleccionProcess">{{Selectedprocesses?.nombreDeImagen}}  {{Selectedprocesses?.PID}}</p>
          </div> 
        </div>
        
        <p class="text-danger" *ngIf=" _controService.catalog.length===0">You must create a catalog!</p>
        <form *ngIf=" _controService.catalog.length>0"
        [formGroup]="formu"
        (ngSubmit)=" submit()"
        class="col">
          <h4 class="m-0" style="font-weight:bold ; color: rgb(33, 103, 29);">Assign catalog</h4>
          <mat-form-field class="example-full-width"appearance="fill">
            <mat-label>select the catalog</mat-label>
            <mat-select style="position: relative;" formControlName="catalogueId" >
              <mat-option  z-index="1056" *ngFor="let catalog of _controService.catalog" [value]="catalog?.id">
                {{catalog?.name}}
              </mat-option>                 
            </mat-select> 
            <mat-error *ngIf="nameNovalid">
              catalog is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="col">
            <button type="submit" class="mx-1 btn-success btn" mat-raised-button style="font-weight: bold;">Assign</button>
            <button type="button" class="mx-1 btn-secondary btn" (click)="cancel()" mat-raised-button style="font-weight: bold;">Cancel</button>
          </div>
        </form>
      </div>
  </div>

    <div>
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
      </svg>
    </div>
</div>



<!-- Modal -->
<app-formulariocatalog namefor="Create"></app-formulariocatalog>